@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Accesso Denegado";
}

<div class="container-fluid">
    <header>
        <hr />
        <h1 class="text-danger text-center"><strong>@ViewData["Title"]</strong></h1>
        <p> <h1 class="text-danger text-center">No Tienes acceso a este apartado.</h1></p>
        <p><h1 class="text-danger text-center"><i class="fas fa-user-slash"></i></h1></p>
       <p> <h1 class="text-center" > <a href="/Home" class="btn btn-primary btn-danger" style="width:100px;"><i class="fas fa-arrow-circle-left" style="width:25px; height:25px;"></i></a> </h1> </p>
        <hr />

</header>
    </div>