@model IEnumerable<Carrito>
@inject Amazon2077backup.Data.ApplicationDbContext _db

@{
    ViewBag.Title = "AgregarAlCarrito";
}

<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Carrito</h2>
        </div>

        <hr />

        <table class="table-bordered table-striped align-content-center" id="TablaProductos">
            <thead>
                <tr>          
                    <th>ProductName</th>
                    <th>Cantidad</th>
                    <th>PrecioUnitario</th>
                    <th>SubTotal</th>
                    <th></th>


                </tr>
            </thead>

            <tbody>
                @foreach (var p in Model)
                {
                <tr>                
                    <td>@p.ProductName</td>
                    <td>@p.Cantidad</td>
                    <td>USD$@p.PreUNI</td>
                    <th>@p.Subtotal</th>

                    <td class="center">

                        <a href="/Carrito/EliminarProducto/@p.ProductoID" class="btn btn-danger" style="width:100px">
                            <i class="fas fa-trash-alt"></i>
                        </a>

                    </td>
                </tr>

                    <tr>
                    </tr>

                }

            </tbody>
        </table>

        <hr />

        <a href="/Home/Pago" class="w-100 btn btn-primary btn-agregar-pago" >Continuar Al Pago</a>

        <hr />



    </main>
</div>





