@{
    ViewData["Title"] = "Home Page";
}

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="~/Imagenes/Imagen/2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Asus ROG Strix Scar II Gaming Laptop</h5>
                <p class="card-text">15.6" 144Hz IPS Tipo Full HD, NVIDIA GeForce RTX 2070, Intel Core i7-8750H, 16GB DDR4, 512GB PCIe Nvme SSD, RGB KB, Windows 10, GL504GW-DS74.</p>
                <a href="#" class="btn btn-dark">Ver Más</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 align-content-center">
            <img src="~/Imagenes/Imagen/3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Amazon - Fire TV with 4K Ultra HD and Alexa Voice Remote</h5>
                <p class="card-text">Con más potencia, un procesador ultrarrápido, compatibilidad con Wi-Fi 802.11 ac y un nuevo diseño de antena, Fire TV Stick 4K te permite disfrutar de una experiencia de transmisión 4K Ultra HD más completa.</p>
                <a href="#" class="btn btn-dark">Ver Más</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/Imagenes/Imagen/4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Apple Watch Series 3 (GPS + teléfono móvil)</h5>
                <p class="card-text">watchOS con Tendencias de actividad, seguimiento de ciclos, innovaciones en salud auditiva y la App Store en su muñeca.</p>
                <a href="#" class="btn btn-dark">Ver Más</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="~/Imagenes/Imagen/5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sudadera Hanes con capucha, de polar Ecosmart, para hombre</h5>
                <p class="card-text">
                    -Tejido resistente a la formación de motas y con alta densidad de puntada para mayor durabilidad.
                    -Capucha acogedora con cordón ajustable teñido a juego.
                </p>
                <a href="#" class="btn btn-dark">Ver Más</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/Imagenes/Imagen/8.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Micrófono de condensador USB</h5>
                <p class="card-text">micrófono de PC para juegos ELEGIANT Micrófono USB para computadora con soporte antideslizante Filtro Pop Grabación vocal Micrófono Plug & Play para juegos Streaming Podcasting YouTube 1.8 m/6 ft</p>
                <a href="#" class="btn btn-dark">Ver Más</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/Imagenes/Imagen/9.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">AMD Ryzen 5 2600 procesador con Wraith Stealth Cooler</h5>
                <p class="card-text">
                    Rendimiento de multiprocesamiento para jugadores y creadores.
                    Todo el mundo merece un procesador potente. Las características sin concesiones y el rendimiento fluido son finalmente el estándar para todos los jugadores y artistas.
                </p>
                <a href="#" class="btn btn-dark">Ver Más</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div>
