
@{
    ViewBag.Title = "CrearRole";
}

<h1>Crear</h1>
<form method="Post" action="/Administrador/CrearRole" class="form-horizontal">
    <input name="Nombre" type="text">
    <button type="submit">Crear</button>
</form>